In [1]:
# import Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2

In [2]:
# create a function that can be reused for scraping the data
def get_html_data(url):
    response = requests.get(url)
    return BeautifulSoup(response.text, "html5lib")

### Source: The Washington Post

* http://stats.washingtonpost.com/fb/glossary.asp

In [3]:
player_position_url = 'http://stats.washingtonpost.com/fb/glossary.asp'

pp_response = get_html_data(player_position_url)
# print(pp_response.prettify())

In [4]:
# results are returned as an iterable list
pp_results = pp_response.find_all('table', class_="shsTable")

# print(pp_results)
# print(pp_results[1].prettify())   

pp_df = pd.read_html(str(pp_results[1]))
pp_df = pp_df[0]
pp_df.head()

                        0                       1
0  Position Abbreviations  Position Abbreviations
1            Abbreviation                Position
2                      QB             Quarterback
3                      RB            Running Back
4                      FB                Fullback

In [5]:
# rename columns
pp_df = pp_df.rename(columns={0: "abbreviation", 1 : "position"}) 

# set index to abbreviation
pp_df.set_index("abbreviation", inplace=True)
pp_df.drop(['Position Abbreviations', 'Abbreviation'], inplace=True)

pp_df.head()

                   position
abbreviation
QB              Quarterback
RB             Running Back
FB                 Fullback
WR            Wide Receiver
TE                Tight End

### Super Bowl Winners
### Source: Topend Sports
* The Super Bowl is the annual championship game of the National Football League (NFL). 
* Below is a list of all the winners of the Super Bowl since Green Bay won the first in 1967. 
* The years listed indicate the year the Super Bowl was played, the regular season is played during the year before.

In [6]:
# Superbowl winning teams with scores 
sb_url = 'https://www.topendsports.com/events/super-bowl/winners-list.htm'
sb_response = get_html_data(sb_url)

# print(sb_response.prettify())

In [42]:
# results are returned as an iterable list
sb_results = sb_response.find_all('table', class_="list")

# print(sb_results[0].prettify())

# read html to convert the data to dataframe - but this return a list
sb_df = pd.read_html(str(sb_results))

# convert the list to a dataframe
sb_df = sb_df[0]

# display the first 5 rows of dataframe
sb_df.head()

   Year   No.                Winner            Opposition  Score       Venue
0  2020   LIV    Kansas City Chiefs   San Francisco 49ers  31-20       Miami
1  2019  LIII  New England Patriots      Los Angeles Rams   13-3     Atlanta
2  2018   LII   Philadelphia Eagles  New England Patriots  41-33   Minnesota
3  2017    LI  New England Patriots       Atlanta Falcons  34-28       Texas
4  2016     L        Denver Broncos     Carolina Panthers  24-10  California

In [43]:
# rename columns
sb_df = sb_df.rename(columns={'Year' : 'year',
                              'No.' : 'sb_no', 
                              'Winner': "winner_team", 
                              "Opposition" : "loser_team",
                              "Venue" : 'city'
                              }) 
sb_df.head(12)

,year,sb_no,winner_team,loser_team,Score,city
0,2020,LIV,Kansas City Chiefs,San Francisco 49ers,31-20,Miami
1,2019,LIII,New England Patriots,Los Angeles Rams,13-3,Atlanta
2,2018,LII,Philadelphia Eagles,New England Patriots,41-33,Minnesota
3,2017,LI,New England Patriots,Atlanta Falcons,34-28,Texas
4,2016,L,Denver Broncos,Carolina Panthers,24-10,California
5,2015,XLIX,New England Patriots,Seattle Seahawks,28-24,Arizona
6,2014,XLVIII,Seattle Seahawks,Denver Broncos,43-8,New Jersey
7,2013,XLVII,Baltimore Ravens,San Francisco 49ers,34-31,New Orleans
8,2012,XLVI,New York Giants,New England Patriots,21-17,Indianapolis
9,2011,XLV,Green Bay Packers,Pittsburgh Steelers,31-25,Texas
10,2010,XLIV,New Orleans Saints,Indianapolis Colts,31â17,Miami
11,2009,XLIII,Pittsburgh Steelers,Arizona Cardinals,27-23,Tampa

In [44]:
# Data has some special characters in Score field we need to clean up all the special characters except '-' 
# for splittig the score into winner and loser score

sb_df['Score'] = sb_df['Score'].str.replace(r"[^0-9]+", '-')
sb_df.head(12)

,year,sb_no,winner_team,loser_team,Score,city
0,2020,LIV,Kansas City Chiefs,San Francisco 49ers,31-20,Miami
1,2019,LIII,New England Patriots,Los Angeles Rams,13-3,Atlanta
2,2018,LII,Philadelphia Eagles,New England Patriots,41-33,Minnesota
3,2017,LI,New England Patriots,Atlanta Falcons,34-28,Texas
4,2016,L,Denver Broncos,Carolina Panthers,24-10,California
5,2015,XLIX,New England Patriots,Seattle Seahawks,28-24,Arizona
6,2014,XLVIII,Seattle Seahawks,Denver Broncos,43-8,New Jersey
7,2013,XLVII,Baltimore Ravens,San Francisco 49ers,34-31,New Orleans
8,2012,XLVI,New York Giants,New England Patriots,21-17,Indianapolis
9,2011,XLV,Green Bay Packers,Pittsburgh Steelers,31-25,Texas
10,2010,XLIV,New Orleans Saints,Indianapolis Colts,31-17,Miami
11,2009,XLIII,Pittsburgh Steelers,Arizona Cardinals,27-23,Tampa

In [45]:
# split the score in to 2 fields: score_won and score_lost
def get_winner_score(Score):
    return Score.split("-")[0]

def get_loser_score(Score):
    return Score.split("-")[1]

# Use the labda function to apply the above function to split the score in the dataframe
sb_df['winner_score'] = sb_df['Score'].apply(lambda x: f"{get_winner_score(x)}")
sb_df['loser_score'] = sb_df['Score'].apply(lambda x: f"{get_loser_score(x)}")

# As we split the score into 2 different columns we don't need original score column
# sb_df.drop(['Score', 'Year'],axis='columns',inplace=True)

sb_df.drop(['Score'],axis='columns',inplace=True)

# set index to sb_no 
sb_df.set_index("sb_no", inplace=True)

# rearrange the columns
sb_df = sb_df[['year', 'winner_team', 'winner_score', 'loser_team', 'loser_score', 'city']]

sb_df.head()

,year,winner_team,winner_score,loser_team,loser_score,city
sb_no,,,,,,
LIV,2020,Kansas City Chiefs,31,San Francisco 49ers,20,Miami
LIII,2019,New England Patriots,13,Los Angeles Rams,3,Atlanta
LII,2018,Philadelphia Eagles,41,New England Patriots,33,Minnesota
LI,2017,New England Patriots,34,Atlanta Falcons,28,Texas
L,2016,Denver Broncos,24,Carolina Panthers,10,California

### Source: ESPN
### NFL History - Super Bowl MVPs
* http://www.espn.com/nfl/superbowl/history/mvps

In [11]:
mvp_url = 'http://www.espn.com/nfl/superbowl/history/mvps'
mvp_response = get_html_data(mvp_url)
# print(mvp_response.prettify())

In [12]:
# results are returned as an iterable list
mvp_results = mvp_response.find_all('table', class_="tablehead")

# print(mvp_results[0].prettify())      

# read html and convert it to pandas dataframe
mvp_df = pd.read_html(str(mvp_results))
mvp_df = mvp_df[0]

# rename columns
mvp_df = mvp_df.rename(columns={0: "sb_no", 1 : "mv_player", 2 : "highlights"}) 

# set the value 50 to letter L to be consistent with other super bowl numbers
mvp_df['sb_no'] = mvp_df['sb_no'].replace('50','L', regex=True)
mvp_df.head()

,sb_no,mv_player,highlights
0,Super Bowl Most Valuable Players,Super Bowl Most Valuable Players,Super Bowl Most Valuable Players
1,NO.,PLAYER,HIGHLIGHTS
2,I,"Bart Starr, QB, Green Bay",Two touchdown passes
3,II,"Bart Starr, QB, Green Bay","202 yards passing, 1 TD"
4,III,"Joe Namath, QB, New York Jets",206 yards passing

In [13]:
# set index to sb_no
mvp_df.set_index("sb_no", inplace=True)

# drop the unwanted data
mvp_df.drop(['Super Bowl Most Valuable Players', 'NO.'], inplace=True)

#dispaly the data
mvp_df.head()

                           mv_player                          highlights
sb_no
I          Bart Starr, QB, Green Bay                Two touchdown passes
II         Bart Starr, QB, Green Bay             202 yards passing, 1 TD
III    Joe Namath, QB, New York Jets                   206 yards passing
IV       Len Dawson, QB, Kansas City             142 yards passing, 1 TD
V           Chuck Howley, LB, Dallas  Two interceptions, fumble recovery

In [14]:
# Split the mvp_player column into name of the player, role, and the team
def get_player(mv_player):
    return mv_player.split(",")[0]

def get_position(mv_player):
    return mv_player.split(",")[1]

def get_team(mv_player):
    return mv_player.split(",")[2]

mvp_df['player'] = mvp_df['mv_player'].apply(lambda x: f"{get_player(x)}")
mvp_df['position_abbr'] = mvp_df['mv_player'].apply(lambda x: f"{get_position(x)}")
mvp_df['team'] = mvp_df['mv_player'].apply(lambda x: f"{get_team(x)}")

# drop mv_player
mvp_df.drop(['mv_player'],axis='columns',inplace=True)

# Rearrange the columns
mvp_df = mvp_df[['player', 'position_abbr', 'team', 'highlights']]

# Display the data
mvp_df.head()

,player,position_abbr,team,highlights
sb_no,,,,
I,Bart Starr,QB,Green Bay,Two touchdown passes
II,Bart Starr,QB,Green Bay,"202 yards passing, 1 TD"
III,Joe Namath,QB,New York Jets,206 yards passing
IV,Len Dawson,QB,Kansas City,"142 yards passing, 1 TD"
V,Chuck Howley,LB,Dallas,"Two interceptions, fumble recovery"

### Source: Wikipedia
### List of Super Bowl starting quarterbacks
* https://en.wikipedia.org/wiki/List_of_Super_Bowl_starting_quarterbacks

In [15]:
qb_url = 'https://en.wikipedia.org/wiki/List_of_Super_Bowl_starting_quarterbacks'

qb_response = get_html_data(qb_url)
# print(qb_response.prettify())

In [16]:
# results are returned as an iterable list
qb_results = qb_response.find_all('table', class_="wikitable")

# print(qb_results[1].prettify())      

qb_df = pd.read_html(str(qb_results[1]))
qb_df = qb_df[0]
qb_df.head()

,Season,Super Bowl,Winning QB,Team,Losing QB,Team.1
0,1966 AFL/NFL,I,Bart Starr*MVP,Green Bay Packersn,Len Dawson*,Kansas City Chiefsa
1,1967 AFL/NFL,II,Bart Starr*MVP,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa
2,1968 AFL/NFL,III,Joe Namath*MVP,New York Jetsa,Earl Morrall,Baltimore Coltsn
3,1969 AFL/NFL,IV,Len Dawson*MVP,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn
4,1970,V,Johnny Unitas*,Baltimore ColtsA,Craig Morton,Dallas CowboysN

In [17]:
# remove AFL/NFL from the season column and make sure the length of the year of 4
qb_df['Season'] = qb_df['Season'].str[:4]
qb_df['Season'].astype(str).map(len).head()

0    4
1    4
2    4
3    4
4    4
Name: Season, dtype: int64

In [18]:
# remove all the non-word charachaters from the winning QB and losing QB columns

qb_df['Winning QB'] = qb_df['Winning QB'].str.replace('\W', ' ')
qb_df['Losing QB'] = qb_df['Losing QB'].str.replace('\W', ' ')
qb_df.head()

,Season,Super Bowl,Winning QB,Team,Losing QB,Team.1
0,1966,I,Bart Starr MVP,Green Bay Packersn,Len Dawson,Kansas City Chiefsa
1,1967,II,Bart Starr MVP,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa
2,1968,III,Joe Namath MVP,New York Jetsa,Earl Morrall,Baltimore Coltsn
3,1969,IV,Len Dawson MVP,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn
4,1970,V,Johnny Unitas,Baltimore ColtsA,Craig Morton,Dallas CowboysN

In [19]:
# if last 3 characters of the winning qb is MVP then move it to the new column is_mvp then remove it from winning qb column

qb_df['also_mvp'] = np.where(qb_df['Winning QB'].str[-3:] == 'MVP', 'MVP', '') 
qb_df['Winning QB'] = qb_df['Winning QB'].str.replace('MVP','', regex=True)
qb_df.head()

,Season,Super Bowl,Winning QB,Team,Losing QB,Team.1,also_mvp
0,1966,I,Bart Starr,Green Bay Packersn,Len Dawson,Kansas City Chiefsa,MVP
1,1967,II,Bart Starr,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa,MVP
2,1968,III,Joe Namath,New York Jetsa,Earl Morrall,Baltimore Coltsn,MVP
3,1969,IV,Len Dawson,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn,MVP
4,1970,V,Johnny Unitas,Baltimore ColtsA,Craig Morton,Dallas CowboysN,

In [20]:
# rename columns
qb_df = qb_df.rename(columns={"Season" : "year", 
                              "Super Bowl" : 'sb_no',
                              'Winning QB' : 'winner_qb',
                              'Team': "winner_team", 
                              'Losing QB' : 'loser_qb',
                              "Team.1" : "loser_team"}) 
qb_df.head()

,year,sb_no,winner_qb,winner_team,loser_qb,loser_team,also_mvp
0,1966,I,Bart Starr,Green Bay Packersn,Len Dawson,Kansas City Chiefsa,MVP
1,1967,II,Bart Starr,Green Bay Packersn,Daryle Lamonica,Oakland Raidersa,MVP
2,1968,III,Joe Namath,New York Jetsa,Earl Morrall,Baltimore Coltsn,MVP
3,1969,IV,Len Dawson,Kansas City Chiefsa,Joe Kapp,Minnesota Vikingsn,MVP
4,1970,V,Johnny Unitas,Baltimore ColtsA,Craig Morton,Dallas CowboysN,

In [21]:
# the last character of the team name has 'a' or 'n' to nitity afc or nfc. 
# map a to 'AFC', n to 'NFC' then remove that extra character from team names

qb_df['winner_conf'] = np.where(qb_df['winner_team'].str[-1].str.lower() == 'a', 'AFC', 'NFC') 
qb_df['loser_conf'] = np.where(qb_df['loser_team'].str[-1].str.lower() == 'a', 'AFC', 'NFC')

qb_df['winner_team'] = [sub[ : -1] for sub in qb_df['winner_team']] 
qb_df['loser_team'] = [sub[ : -1] for sub in qb_df['loser_team']]

# Update the super bowl number 50 to L
qb_df['sb_no'] = qb_df['sb_no'].replace('50','L', regex=True)

qb_df.head()

,year,sb_no,winner_qb,winner_team,loser_qb,loser_team,also_mvp,winner_conf,loser_conf
0,1966,I,Bart Starr,Green Bay Packers,Len Dawson,Kansas City Chiefs,MVP,NFC,AFC
1,1967,II,Bart Starr,Green Bay Packers,Daryle Lamonica,Oakland Raiders,MVP,NFC,AFC
2,1968,III,Joe Namath,New York Jets,Earl Morrall,Baltimore Colts,MVP,AFC,NFC
3,1969,IV,Len Dawson,Kansas City Chiefs,Joe Kapp,Minnesota Vikings,MVP,AFC,NFC
4,1970,V,Johnny Unitas,Baltimore Colts,Craig Morton,Dallas Cowboys,,AFC,NFC

In [22]:
# Rearrange the columns
qb_df = qb_df[['sb_no', 'year', 'winner_conf', 'winner_team', 'winner_qb', 'also_mvp', \
               'loser_conf', 'loser_team', 'loser_qb']]

qb_df.head()

,sb_no,year,winner_conf,winner_team,winner_qb,also_mvp,loser_conf,loser_team,loser_qb
0,I,1966,NFC,Green Bay Packers,Bart Starr,MVP,AFC,Kansas City Chiefs,Len Dawson
1,II,1967,NFC,Green Bay Packers,Bart Starr,MVP,AFC,Oakland Raiders,Daryle Lamonica
2,III,1968,AFC,New York Jets,Joe Namath,MVP,NFC,Baltimore Colts,Earl Morrall
3,IV,1969,AFC,Kansas City Chiefs,Len Dawson,MVP,NFC,Minnesota Vikings,Joe Kapp
4,V,1970,AFC,Baltimore Colts,Johnny Unitas,,NFC,Dallas Cowboys,Craig Morton

In [23]:
# set index to sb_no
qb_df.set_index("sb_no", inplace=True)
qb_df.tail()

,year,winner_conf,winner_team,winner_qb,also_mvp,loser_conf,loser_team,loser_qb
sb_no,,,,,,,,
LI,2016,AFC,New England Patriots,Tom Brady,MVP,NFC,Atlanta Falcons,Matt Ryan
LII,2017,NFC,Philadelphia Eagles,Nick Foles,MVP,AFC,New England Patriots,Tom Brady
LIII,2018,AFC,New England Patriots,Tom Brady,,NFC,Los Angeles Rams,Jared Goff
LIV,2019,AFC,Kansas City Chiefs,Patrick Mahomes,MVP,NFC,San Francisco 49ers,Jimmy Garoppolo
Super Bowl,Seas,NFC,Tea,Winning QB,,NFC,Tea,Losing QB

In [24]:
qb_df.drop(['Super Bowl'], inplace=True)
#dispaly the data
qb_df.tail()

,year,winner_conf,winner_team,winner_qb,also_mvp,loser_conf,loser_team,loser_qb
sb_no,,,,,,,,
L,2015,AFC,Denver Broncos,Peyton Manning,,NFC,Carolina Panthers,Cam Newton
LI,2016,AFC,New England Patriots,Tom Brady,MVP,NFC,Atlanta Falcons,Matt Ryan
LII,2017,NFC,Philadelphia Eagles,Nick Foles,MVP,AFC,New England Patriots,Tom Brady
LIII,2018,AFC,New England Patriots,Tom Brady,,NFC,Los Angeles Rams,Jared Goff
LIV,2019,AFC,Kansas City Chiefs,Patrick Mahomes,MVP,NFC,San Francisco 49ers,Jimmy Garoppolo

### Create database connection

In [25]:
connection_string = "postgres:postgres@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{connection_string}')

### Load DataFrames into database

In [26]:
pp_df.to_sql(name='player_position', con=engine, if_exists='replace', index=True)

In [46]:
sb_df.to_sql(name='sb_winners', con=engine, if_exists='replace', index=True)

In [28]:
mvp_df.to_sql(name='most_valuable_player', con=engine, if_exists='replace', index=True)

In [29]:
qb_df.to_sql(name='sb_quarterbacks', con=engine, if_exists='replace', index=True)

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/nfl_db')
connection = engine.connect()

In [31]:
query = '''
    select *
      from mvp_position
      ;
'''
mvp_position_df = pd.read_sql_query(query, engine)
mvp_position_df.tail()

,team,sb_no,player,position_abbr,position,highlights
49,Baltimore,XXXV,Ray Lewis,LB,Linebacker,Led a dominant Ravens defense
50,Dallas,V,Chuck Howley,LB,Linebacker,"Two interceptions, fumble recovery"
51,Tampa Bay,XXXVII,Dexter Jackson,CB,Cornerback,Two first-half interceptions
52,Dallas,XXX,Larry Brown,CB,Cornerback,Two interceptions
53,Miami,VII,Jake Scott,S,Safety,Two interceptions

In [34]:
score_query = '''
    select *
      from sb_divisions
      ;
'''
sb_scores_df = pd.read_sql_query(score_query, engine)
sb_scores_df.head()

,sb_no,year,winner_conf,winner_div,winner_team,winner_score,winner_qb,also_mvp,loser_conf,loser_div,loser_team,loser_score
0,LIV,2020,AFC,AFC West,Kansas City Chiefs,31,Patrick Mahomes,MVP,NFC,NFC West,San Francisco 49ers,20
1,LIII,2019,AFC,AFC East,New England Patriots,13,Tom Brady,,NFC,NFC West,Los Angeles Rams,3
2,LII,2018,NFC,NFC East,Philadelphia Eagles,41,Nick Foles,MVP,AFC,AFC East,New England Patriots,33
3,LI,2017,AFC,AFC East,New England Patriots,34,Tom Brady,MVP,NFC,NFC South,Atlanta Falcons,28
4,L,2016,AFC,AFC West,Denver Broncos,24,Peyton Manning,,NFC,NFC South,Carolina Panthers,10